:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-white-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: #757575;
}
.list {
  list-style: none;
}
/* шапка сайту */
.logo {
  color: #000000;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo > .web {
  color: var(--accent-color);
}
.site-nav {
  color: var(--title-text-color);
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--primary-text-color);
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}
/* Герой */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--accent-white-color);
}
.button {
  color: var(--accent-white-color);
  background-color: var(--accent-color);
}
/* .button.primary {
  background-color: var(--accent-color);
  color:  var(--accent-white-color);
} */
.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--accent-white-color);
}

/* Заголовки секцій */
.section-title {
  color: var(--title-text-color);
}

/* Особливості */
.feature-list .title {
  color: var(--title-text-color);
}

/* Наша команда */
.title-team {
  color: var(--title-text-color);
}

/* Футер */
footer {
  background-color: #2f303a;
}
.map-link {
  color: var(--accent-white-color);
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
